target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# compiled output
/dist
/tmp
/out-tsc

# dependencies
src/main/frontend/node_modules

# IDEs and editors
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
src/main/frontend/.sass-cache
src/main/frontend/connect.lock
src/main/frontend/coverage
src/main/frontend/libpeerconnection.log
src/main/frontend/npm-debug.log
src/main/frontend/testem.log
src/main/frontend/typings

# e2e
src/main/frontend/e2e/*.js
src/main/frontend/e2e/*.map

# System Files
src/main/frontend/.DS_Store
src/main/frontend/Thumbs.db
.DS_Store
Thumbs.db
