<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css"></link>
        <title>Subterror</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Undav - Subterror</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Ultimos 5 eventos</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Acerce de</a></li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-12">
                <h1 class="">Bienvenidos a Subterror</h1>
            </div>
        </div>
        <div class="row container">
            <div class="col-md-12">
                <h2>Proximamente grafico de inconvenientes...</h2>
            </div>
            <div class="col-md-12">
                <form id="subterrorForm">
                    <label>Destino a:</label>
                    <input class="form-control" type="text" name="sense" placeholder="Ej: Destino a Retiro"></input>

                    <label>Selecciona tu estacion:</label>
                    <select class="form-control" name="station" id="station_id">
                    </select>

                    <label>Selecciona el tipo de inconveniente:</label>
                    <select class="form-control" name="eventType" id="eventtype_id">
                    </select>

                    <button class="btn btn-primary" id="submit">Enviar</button>
                </form>
            </div>
        </div>
    </body>
</html>